# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Output files
**/logs/
**/results/* # Ignore the folder
!**/results/.gitkeep # But keep and empty .gitkeep, so the folder is tracked in git